.container {
  width: 90%;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin-top: 1.25rem;
  margin-right: 1rem;
}

.backToHomeButton {
  padding: 0.25rem 0.75rem;
  border: 1px solid #0070f3;
  border-radius: 2px;
  height: auto;
}

.externalicon {
  padding-left: 1rem;
}
